@model UsuarioModel

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Olá, @Model.Nome</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li><a asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a></li>
        <li><a asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Exit">Sair</a></li>
    </ul>
</div>

